<div class="gird">
    <div class="gird__row">
        <div class="gird__column-2-4">
            <h3 class="footer_heading">Chăm sóc khách hàng</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
            </ul>
        </div>
        <div class="gird__column-2-4">
            <h3 class="footer_heading">Chăm sóc khách hàng</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
            </ul>
        </div>
        <div class="gird__column-2-4">
            <h3 class="footer_heading">Chăm sóc khách hàng</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
            </ul>
        </div>
        <div class="gird__column-2-4">
            <h3 class="footer_heading">Chăm sóc khách hàng</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
            </ul>
        </div>
        <div class="gird__column-2-4">
            <h3 class="footer_heading">Chăm sóc khách hàng</h3>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
                <li class="footer-item">
                    <a href="" class="footer-link">Trung tâm trợ giúp</a>
                </li>
            </ul>
        </div>
    </div>
</div>