<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../../../css/base.css">
    <link rel="stylesheet" href="../../../css/main.css">
    <link rel="stylesheet" href="../../../fonts/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
</head>
<body>

    <div class="app">
       
       {{> header_pages }}

        <div class="app__container">
            <div class="gird">
                <div class="gird__row app__content">
                    <div class="gird__column-2">
                       {{> menu_left_pages }}
                    </div>
    
                    <div class="gird__column-10">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
             {{> footer_pages }}
        </footer>
    </div>

    <div class="modal">
        <div class="modal__overlay"></div>

        <div class="modal__body">
            <div class="modal__inner">
                <div class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng ký</h3>
                            <span class="auth-form__switch-btn">Đăng nhập</span>
                        </div>
    
                        <div class="auth-form__form">
                            <div class="auth-form-group">
                                <input type="text" class="auth-form__input" placeholder="Email của bạn">
                            </div>
                            <div class="auth-form-group">
                                <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                            </div>
                            <div class="auth-form-group">
                                <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu của bạn">
                            </div>
                        </div>
    
                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                Bằng việc đăng ký bạn đã đống ý với Shopee về
                                <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> &
                                <a href="" class="auth-form__text-link">Chính sách bảo mật.</a>
                             </p>
                        </div>

                        <div class="auth-form__controls">
                            <button class="btn btn__back">Trở lại</button>
                            <button class="btn btn--primaty">Đăng ký</button>
                        </div>
                    </div>

                    <div class="auth-form__socials">
                        <a href="" class="btn--with-icon">
                            <i class="fab fa-facebook-f"></i>
                            <span>Kết nối với Facebook</span>
                        </a>
                        <a href="" class="btn--with-icon">
                            <i class="fab fa-google"></i>
                            <span>Kết nối với Google</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../js/data/home.js"></script>

   </body>
</html>