<div class="main" style="width: 500px; margin: 30px auto">

    <form autocomplete="off" action="/admin/categories/store" method="post" enctype="multipart/form-data">
         <div class="form-group">
            <label for="formGroupExampleInput">Tên danh mục</label>
             <input type="text" class="form-control" name="name">
         </div>
         <button type="submit" class="btn btn-primary">Thêm danh mục</button> 
    </form>

</div>